.titulo{
    text-align: center;
}

ion-card{
    --background: var(--ion-color-warning)
}
.parrafo{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    border-radius: 50%;
}
ion-card ion-item{
    --background: var(--ion-color-warning)
}