<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Quiénes Somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title class="titulo">RegistrAPP</ion-card-title>
    <ion-card-content>
      <p class="parrafo" >
        Es una aplicación móvil orientada 
        para aquellos usuarios que tengan que hacer un 
        registro de las personas que asisten a un evento, 
        donde la persona que registre la asistencia mostrara 
        un código QR para que los asistentes lo puedan escanear 
        y así marcar su asistencia.
      </p>
      <icon-card>
       <img src="assets/hacer.jpg" class="ion-padding">
      </icon-card>
      </ion-card-content>
  </ion-card>

  <ion-card>  
    <ion-item href="#">
      <ion-icon slot="start" name="qr-code-outline" color="dark">    
      </ion-icon>
      <ion-label>Comuníquese</ion-label>
    </ion-item>
  </ion-card>


</ion-content>
