<ion-header>
  <ion-toolbar>
    <ion-title>Estudiante</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="dark"
        mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
    <ion-list-header>

    </ion-list-header>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email" placeholder="Digite Email"
                 name="email" value="" [(ngModel)]= "usuario.email"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="password" placeholder="Digite Contraseña"
                 name="password" value="" [(ngModel)]= "usuario.password"
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                 required>
      </ion-input>
    </ion-item>
    <ion-button [disabled] ="formulario.invalid"
            type="submit" expand="block" 
            color="warning" routerLink="/perfile">
      Ingresar
    </ion-button>
  </form>
</ion-content>
