<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <icon-card>
    <img src="assets/logo.png" class="ion-padding">
  </icon-card>

  <ion-button color="warning" expand="block" 
  routerLink="/inicioe" class="boton">
    Ingresar como Estudiante
  </ion-button>

  <ion-button color="dark" expand="block" 
  routerLink="/iniciod" class="boton">
    Ingresar como Docente
  </ion-button>
</ion-content>
