<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="warning" expand="block" 
  routerLink="/registroe" class="boton">
    Registrar como Estudiante
  </ion-button>

  <ion-button color="dark" expand="block" 
  routerLink="/registrod" class="boton2">
    Registrar como Docente
  </ion-button>
</ion-content>

