<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [style.--background]="scanActive?'#00000000':'#ffe2ba'">
  <ion-button expand="full" (click)="startScanner()" [hidden]="scanActive" color="dark">
    Escanear QR
  </ion-button>
  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()" color="danger">Parar</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActive"></div>
</ion-content>
